<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <meta charset="UTF-8">
    <title>Fuel station</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h4 class="m-t-0 m-b-60 header-title align-center">CREATE FUEL STATION</h4>
                        <hr style="margin-top: 30px; margin-bottom: 30px">
                        <form role="form" th:action="@{/stations/store}" th:object="${fuelStation}" method="post">
                            <div class="form-group">
                                <label>Fuel station name</label>
                                <input type="text" class="form-control" placeholder="Enter fuel station name" th:field="*{name}">
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                ></small>
                                <small class="form-text text-muted">Enter the name of the fuel station.</small>
                            </div>
                            <div class="form-group">
                                <label>Manager</label>
                                <input type="text" class="form-control" placeholder="Manager's name"  th:field="*{manager}">
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('manager')}" th:errors="*{manager}"
                                ></small>
                                <small class="form-text text-muted">Enter the name of fuel station manager</small>
                            </div>

                            <div class="form-group">
                                <label>Manager's telephone</label>
                                <input type="text" class="form-control" placeholder="Manager's telephone" th:field="*{telephone}">
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"
                                ></small>
                                <small class="form-text text-muted">Enter the manager's phone number</small>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">District</label>
                                <select class="custom-select mt-3" name="districtId">
                                    <option
                                            th:each="district: ${districts}"
                                            th:value="${district.id}"
                                            th:text="${district.name}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Address location</label>
                                <input type="text" class="form-control" placeholder="Fuel station address" th:field="*{address}">
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                                ></small>
                                <small class="form-text text-muted">Enter the location address of the fuel station</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Save fuel station</button>
                        </form>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
</div>
</body>
</html>